body {
  background-color: #fecea8 !important;
  margin-bottom: 6px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.button {
  color: blueviolet;
}
